@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tinos", serif;
}
.NavBar_Lists link {
  font-size: x-large;
}
.NavBar_Lists link :hover {
    text-decoration: underline black;
}

.NavBar {
  background: #fec016;
  border-bottom: 1px solid #2a2a2a;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 350ms ease-in-out;

  .NavBar_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .NavBar_Lists {

    button {
      background: #191919;
      color: #fff;
      text-transform: inherit;
      border-radius: 50px;
      padding: 5px 15px;
      font-size: 16px;
    }

    ul {
      display: flex;
      align-items: center;
      li {
        margin-left: 25px;
        list-style: none;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }

  img {
    max-width: 215px;
    padding: 15px;
  }
}

.NavBar_Lists link {
  color: white;
}

.NavBar.active {
  background: #fff;

  button {
    background: #1a8917;
  }
}

.App_MainSection {
  background: #fec016;
  padding: 40px;

  h1 {
    font-size: 70px;
    font-weight: 400;
    color: #080808;
  }

  button {
    border: 2px solid #2a2a2a;
    text-transform: inherit;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 35px 0;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    color: #2a2a2a;
    margin-top: 35px;

    a {
      color: #2a2a2a;
    }
  }

  img {
    max-width: 500px;
  }
}

form {
  margin: 50px 0;

  .Form_SubmitBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      background: #080808;
      color: #fff;
      font-weight: 600;
      text-transform: inherit;
      padding: 6px;
      width: 100%;
      max-width: 200px;
      font-size: 17px;
    }

    button:hover {
      background: #080808;
      color: #fff;
    }
  }
  h1 {
    color: #191919;
    font-size: 50px;
    font-weight: 400;
  }

  .Form_InputDivs {
    margin: 35px 0;

    p {
      font-weight: 600;
      color: #191919;
      margin-bottom: 5px;
    }

    input {
      padding: 10px;
      width: 100%;
      font-size: 18px;
      outline-width: 0;
      border: 1px solid #191919;
      border-radius: 5px;
    }
  }
}

.App_posts {
  border-top: 1px solid #e6e6e6;
}

.MediumPosts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0;
  cursor: pointer;
  width: 100%;

  .MuiSvgIcon-root {
    color: #757575;
    font-size: 16px;
    margin-top: 10px;
  }

  .MediumPosts_TimeStamps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;

    .MediumPosts_Bookmark {
      font-size: 25px;
    }

    .MuiSvgIcon-root {
      margin: 0 5px;
    }

    .MediumPosts_TimeStamp_Paragraph {
      display: flex;
      align-items: center;
      color: #757575;

      span {
        font-family: "Open Sans", sans-serif !important;
        color: #757575;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }

  .MediumPosts_image {
    margin-left: 15px;
    height: 100px;
    width: 250px;
    background: red;
    background-position: center;
    background-size: cover;
  }

  .MediumPosts_Text {
    width: 100%;
    h2 {
      font-weight: 700;
      font-size: 23px;
      color: #2a2a2a;
      font-family: "Open Sans", sans-serif !important;
    }

    p {
      font-weight: 500;
      color: #7f7f7f;
      font-size: 15px;
      margin: 5px 0;
      font-family: "Open Sans", sans-serif !important;
    }
  }
}
.formcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 40%;
  font-size: 24px;
  font-family:"Tinos", serif;
  button {
    background-color: black;
    color: white;
    font-size: 24px !important;
  }
  button:hover {
    background-color: white;
    color: black;
    font-size: 28px !important;
  }
}
.loginformcontainer {
  margin: 40px auto;
  width: 40%;
  font-size: 24px;
  font-family:"Tinos", serif;
  button {
    background-color: black;
    color: white;
    font-size: 24px !important;
  }
  button:hover {
    background-color: white;
    color: black;
    font-size: 28px !important;
  }
}
.danger {
  padding-top: 40px;
  color: red;
}
.logLink {
  text-decoration: none;
}
.header {
  padding-left: 10px;
  font-size: 50px;
}
.lab {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  box-sizing: border-box;
}
.inp{
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-left: none;
  border-top: none;
  border-right: none;
}
.form_btn {
  width: 40%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
}
.postBody {
  display: flex;
  flex-direction: column;
  align-items: center;

  .postBody_image {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 30px 0;
  }

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .postBody_Container,
  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .postContainer {
    padding: 80px 0px;
  }

  .postBody_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    padding-top: 30px;

    .postBody_Container {
      display: flex;
      align-items: center;

      h3 {
        font-weight: 400;
        font-size: 17px;
        margin: 0 10px;
      }
    }

    .postBody_Container:last-child {
      .MuiSvgIcon-root {
        margin-left: 15px;
      }
    }

    .MuiSvgIcon-root {
      color: #3d3d3d;
    }
  }

  .postBody_container {
    width: 100%;
    max-width: 700px;

    img {
      max-width: 650px;
      margin: 20px 0;
    }

    p {
      color: #7f7f7f;
      font-size: 20px;
      margin: 5px 0;
    }

    h1 {
      font-size: 50px;
      color: #2a2a2a;
    }
  }

  h1,
  h3,
  p {
    font-family: "Open Sans", sans-serif !important;
  }
}

.PostNav {
  padding: 20px;
  width: 100%;
  .PostNav_Container {
    display: flex;
    justify-content: space-between;

    button {
      text-transform: inherit;
      font-size: 17px;
      color: #13426f;
      padding: 4px 20px;
    }

    button:last-child {
      border: 1px solid #13426f;
      border-radius: 50px;
    }
  }
}

.editBlog{
  padding: 100px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.editBlog label {
  text-align: left;
  display: block;
}

.editBlog h2 {
  font-size: 50px;
  color: #080808;
  margin-bottom: 30px;
}

.editBlog input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.editBlog textarea {
  width: 100%;
  height: 200px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.editBlog button {
  background: #f8c145;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}

.editBlog button:hover{
  background-color: #ddd;
}

#like {
  color: grey;
  border: 1px;
  cursor: pointer;
}